<% provide(:title, "") %>
<div class="center jumbotron">
<h1>Instrumente</h1>
<p>Willkommen auf der Seite der Instrumente, <%= @test_variable %></p>
<%= image_tag("caddy.jpg", alt: "VW Caddy",width:"360")%>
<br>
<br>
<%= link_to "Melde dich jetzt an!", signup_path, class: "btn btn-lg btn-primary" %>
<br>
<p>Anzahl der bereits angemeldeten Personen: <%= @count %></p>
</div>