<footer class="footer">
  <small>
    Die Fuhrpark-App von Peter
  </small>
  <nav>
    <ul>
      <li><%= link_to "Über", about_path %></li>
      <li><%= link_to "Kontakt", contact_path %></li>
      <li><%= link_to "Impressum", impressum_path %></li>
    </ul>
  </nav>
</footer>